@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

main {
  padding: 10px;
}

body {
  background-color: #9EC8BA;
  font-family: Arial;
  color: #092635;
  font-size: 15px;
  overflow-x: hidden;
}

.slider {
  display: flex;
  gap: 10px;
  width: 100vw;
  overflow-x: scroll;
}

.boxmodel {
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;

}

.boxmodel p.kecil {
  line-height: 90%;
}

p {
  /* font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 15px;
      padding-left: 15px;
      text-align: left; */
  /* line-height: 90%; */

}

span {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-left: 0px;
  text-align: left;
}

img {
  border-radius: 30px;
  width: 250px;
  height: 120px;

}