@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

main {
  padding: 10px;
}

body {
  background-color: #9EC8BA;
  font-family: Arial;
  color: #092635;
  font-size: 15px;
  overflow-x: hidden;
}

.image-container {
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  width: 350px;
  height: 470px;
  margin: 30px;
}

.container{
  display: flex;
  width: 100vw;
  /* flex-direction: row; */
}
img {
  float: left;
  margin-right: 20px;
  border-radius: 20px;
  width: 350px;
  height: 470px;
}

  /* font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 15px;
      padding-left: 15px;
      text-align: left; */
  /* line-height: 90%; */


span {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 0px;
  text-align: right;
}

.menu{

}
  
.icon{
  font-size:  2.5em;
  padding: .10em;
  margin: .10em;
  margin-top: 0px;
  
}
.round{
  border: 2px solid #092635;
  border-radius: 15px 0px 0px 15px;
  padding: 30px;
  width:  450px;
  height:  200px;
  align: left ;
  
}
/* .active{
  transform: scale(1.25) translateY(-1em);
  background: linear-gradient(135deg, #092635, #9EC8BA);
  border: 7px solid #dcdcdc;
  color: white;
}